<p class="text-muted">
    <small>
    Copyright ©️ Stuart Watt 2025. All rights reserved. 
    </small>
</p>

<p class="text-muted">
    <small>
    <em>No AI training:</em> Without in any way limiting the author’s exclusive rights under
    copyright, any use of these images to “train” generative artificial intelligence
    (AI) technologies to generate images is expressly prohibited. The author
    reserves all rights to license uses of this work for generative AI training and
    development of machine learning language models.
    </small>
</p>
