// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

.about-image {
  width: 150px;

  img {
    border-radius: 75px;
    height: 150px;
    width: 150px;
  }

  p {
    margin: 12px 0;
  }
}

blockquote {
  margin: 0 2rem 1rem;
  color: #565e66;
}