﻿@import url('https://fonts.googleapis.com/css?family=Bangers');

:root {
    --color-blue: #dfe5f6;
    --color-green: #e5f6df;
    --color-lilac: #e5dff6;
    --color-purple: #c5b7ec;
    --color-shadow-light: rgba(186, 172, 191, 0.35);
    --color-shadow-dark: transparent;
    --color-white: #ffffff;
    --color-petrol: #000809;
    --color-pink: #ebd4f3; 
    --color-yellow: #f6f0df;
    --font-fam-primary: 'Bangers', cursive;
    --shadow-before: 10px 10px 0px 0px;
    --shadow-after: 5px 5px 0px 0px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-fam-primary);
}

button {
    outline: none;
    background: transparent;
    border: 0px;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    padding: 15%;
}

.buttons {
    display: block;
    position: relative;
    width: 300px;
    height: auto;
}

.difficulty__button .iconify, .push__button .iconify {
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    color: rgb(56, 15, 15);
}

.difficulty_text, .push__text {
    display: grid;
    justify-items: flex-start;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: white;
    font-size: 40px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px; 
}

.difficulty__buttons {
    width: 130px;
    height: 400px;
    display: grid;
    justify-items: center;
}

.difficulty__button {
    position: relative;
    width: 100%;
    height: 100%;
}

.button__front {
    width: 100px;
    height: 100px;
    background-color: var(--color-white);
    border: 1px solid var(--color-petrol);
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .2s linear;
}

.button__back {
    width: 100px;
    height: 100px;
    background-color: var(--color-pink);
    border: 1px solid var(--color-petrol);
    border-radius: 15px;
    box-shadow: var(--shadow-before) var(--color-shadow-light);
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: -1;
    transition: box-shadow .2s linear;
}

button:hover .button__front {
    transform: translate(4px, 4px);
}

button:hover .button__back {
    box-shadow: var(--shadow-after) var(--color-shadow-light); 
}

button:active .button__front {
    display: none;
}

button:active .button__back {
    background-color: white;
    box-shadow: inset var(--shadow-after) var(--color-shadow-dark); 
}

.current .button__front {
    display: none;
}

.current .button__back {
    background-color: white;
    box-shadow: inset var(--shadow-after) var(--color-shadow-dark); 
}

.push__button {
    position: relative;
    width: 120px;
    height: 120px;
}

#chart {
    display: inline-block;
    width: 500px;
    height: 500px;
    position: relative; 
}

.chart__front {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background-color: var(--color-white);
    border: 2px solid var(--color-petrol);
    border-radius: 50%;
    z-index: -1;
}

.chart__back {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 500px;
    height: 500px;
    background-color: var(--color-pink);
    border: 2px solid var(--color-petrol);
    border-radius: 50%;
    box-shadow: var(--shadow-before) var(--color-shadow-light);
    transform: translate(10px, 10px);
    z-index: -2;
}

text {
    pointer-events: none;
}

#result {
    position: absolute;
    top: 40%;
    left: 40%;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: var(--color-white);
    margin: 10% auto;
    padding: 20px;
    max-width: 400px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 1px solid var(--color-petrol);
    animation-name: modalopen;
    animation-duration: .5s;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 28px;
}

.modal-body-container {
    padding: 10px 0;
}

.modal-body-title {
    font-size: 18px;
    color: rgb(54, 51, 51);
    text-transform: uppercase;
    line-height: 1.6;
}

.spin-result {
    font-size: 24px;
    color: #c5b7ec;
}

.closeBtn {
    color: gray;
    font-size: 50px;
}

.closeBtn:hover, .closeBtn:focus {
    color: black;
    cursor: pointer;
}

@keyframes modalopen {
    from { opacity: 0 }
    to { opacity: 1 }
}