<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div id="layout" class="pure-g">

      {% include sidebar.html %}

      <div class="content pure-u-1 pure-u-md-3-4">
        <div class="posts">
          {{ content }}
        </div>
      </div>
    </div>

    <div class="footer">
        <div class="pure-menu pure-menu-horizontal">
            <ul>
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Index</a></li>
                <li class="pure-menu-item"><a href="http://twitter.com/morungos/" class="pure-menu-link">Twitter</a></li>
                <li class="pure-menu-item"><a href="http://github.com/morungos/" class="pure-menu-link">GitHub</a></li>
            </ul>
        </div>
    </div>


    <script src="/public/js/ui.js"></script>
  </body>
</html>
