---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col px-3">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container page-body-container">
    <div class="row justify-content-center">
      <div class="col px-3">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 2 %}

        <article class="post-preview">
          <h3 class="post-title">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a>
          </h3>
          <p class="post-subtitle">
            <b>
              {% if post.summary %}
              {{ post.summary }}
              {% else %}
              {{ post.excerpt | strip_html | truncatewords: 20 }}
              {% endif %}
            </b>
          </p>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-secondary float-end" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
